{% extends "base/layout.html" %}

{% block content %}

<h1 class="mb-4">
    🌍 Live Flight Search
</h1>

<form
method="GET"
action="/flights/search">

    <div class="input-group mb-4">

        <input
        type="text"
        class="form-control"
        name="q"
        placeholder="Airline, Flight, Airport"
        value="{{ query }}">

        <button
        class="btn btn-primary">

            Search

        </button>

    </div>

</form>

{% if query %}

<div class="card">

    <div class="card-body">

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>Flight</th>
                    <th>Airline</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

            {% for flight in flights %}

                <tr>

                    <td>
                        {{ flight.flight.iata }}
                    </td>

                    <td>
                        {{ flight.airline.name }}
                    </td>

                    <td>
                        {{ flight.departure.iata }}
                    </td>

                    <td>
                        {{ flight.arrival.iata }}
                    </td>

                    <td>
                        {{ flight.flight_status }}
                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endif %}

{% endblock %}
