{% extends "base/layout.html" %}

{% block content %}

<div class="text-center py-5">

    <h1 class="display-3 hero-title">
        ✈ FlightHub
    </h1>

    <p class="lead">
        Smart Airport & Travel System
    </p>

</div>

<div class="row g-4">

    <div class="col-md-4">

        <div class="card feature-card">

            <div class="card-body text-center">

                <h3>✈ Flights</h3>

                <p>
                    Search, track and manage flights.
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card feature-card">

            <div class="card-body text-center">

                <h3>🏨 Hotels</h3>

                <p>
                    Find hotels around the world.
                </p>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card feature-card">

            <div class="card-body text-center">

                <h3>🚗 Cars</h3>

                <p>
                    Rent vehicles quickly and easily.
                </p>

            </div>

        </div>

    </div>

</div>

{% endblock %}
