<!DOCTYPE html>

<html
lang="{{ current_language }}"
dir="{% if rtl %}rtl{% else %}ltr{% endif %}">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1">

    <title>
        AeroVision
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

    {% include 'base/navbar.html' %}

    <div class="container mt-4">

        {% block content %}
        {% endblock %}

    </div>

    {% include 'base/footer.html' %}

    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js">
    </script>

</body>

</html>
