{% extends "base/layout.html" %}

{% block content %}

<h1 class="mb-4">
    🔍 Car Search
</h1>

<form
method="GET"
action="/cars/search">

    <div class="input-group mb-4">

        <input
        type="text"
        class="form-control"
        name="q"
        placeholder="Brand, Model, Airport"
        value="{{ query }}">

        <button
        class="btn btn-primary">

            Search

        </button>

    </div>

</form>

{% if query %}

<div class="card">

    <div class="card-body">

        <table class="table table-striped">

            <thead>

                <tr>

                    <th>Brand</th>
                    <th>Model</th>
                    <th>Airport</th>
                    <th>Status</th>

                </tr>

            </thead>

            <tbody>

            {% for car in cars %}

                <tr>

                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.airport }}</td>
                    <td>{{ car.status }}</td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endif %}

{% endblock %}
